psycopg2
psycopg2-binary
configobj
sqlalchemy
flask
flask-wtf
werkzeug
gunicorn
redis
termcolor
bcrypt
gevent>=1.4.0
celery
jinja2
celery
flower
pytz
pyfcm
phonenumbers
email_validator
boto3
lxml
elasticsearch
elasticsearch-dsl
attrdict
